<!DOCTYPE html>
<html lang="en">
    <head>
        <title>关于本站</title>
        <include file="Public/head"/>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="()">
        <meta name="keywords" content="{$Think.config.META_KEYWORDS},关于本站">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/xiaoshujiang.css" media="screen,projection"/>
    </head>
    <body>
        <include file="Public/body"/>
        <include file="Public/navbar"/>
        <div class="container">
            <div class="preview" id="wmd-preview">

                <div class="preview">
                    <h1 class="story_title">My bike is 404 not found.</h1>
                    <pre class="xiaoshujiang_code_container"><code class="nohighlight hljs">  ,--.      &lt;__)
  `- |________7
     |`.      |\
  .--|. \     |.\--.
 /   j \ `.7__j__\  \
|   o   | (o)____O)  |
 \     /   J  \     /
  `---'        `---'

不要把自行车停在你无法保护的路边
不要从不明途径购买二手自行车


</code></pre>
                    <h3 id="e8bf99e698afe4b880e4b8aae4bb80e4b988e7bd91e7ab99efbc9f">
                        <a name="e8bf99e698afe4b880e4b8aae4bb80e4b988e7bd91e7ab99efbc9f" target="_blank"></a>这是一个什么网站？</h3>
                    <p>此网站是用于收集并统计自行车丢失情况的网站。</p>
                    <h3 id="e8bf99e4b8aae7bd91e7ab99e69c89e4bb80e4b988e794a8efbc9f">
                        <a name="e8bf99e4b8aae7bd91e7ab99e69c89e4bb80e4b988e794a8efbc9f" target="_blank"></a>这个网站有什么用？</h3>
                    <p>此网站记录了各失主丢失车辆的信息，并对外提供API接口用于查询和展示。</p>
                    <h3 id="e4b8bae4bb80e4b988e8a681e5819ae8bf99e4b8aae7bd91e7ab99efbc9f">
                        <a name="e4b8bae4bb80e4b988e8a681e5819ae8bf99e4b8aae7bd91e7ab99efbc9f" target="_blank"></a>为什么要做这个网站？</h3>
                    <p>这个网站的想法源于 NotFound Project。</p>
                    <h3 id="e4b8bae4bb80e4b988e7bd91e7ab99e5819ae8bf99e4b988e4b891efbc9f">
                        <a name="e4b8bae4bb80e4b988e7bd91e7ab99e5819ae8bf99e4b988e4b891efbc9f" target="_blank"></a>为什么网站做这么丑？</h3>
                    <p>请参见 <a href="https://github.com/catscarlet/bike404/blob/master/doc/Development_Log.md" target="_blank" alt="bike404 开发日志">[开发日志]</a>。</p>
                    <h3 id="e7bd91e7ab99e8bf98e69c89e4bc98e58c96e79a84e4bd99e59cb0e59097efbc9f">
                        <a name="e7bd91e7ab99e8bf98e69c89e4bc98e58c96e79a84e4bd99e59cb0e59097efbc9f" target="_blank"></a>网站还有优化的余地吗？</h3>
                    <p>本网站的所有源代码您都可以在 GitHub 上找到，除网站配置和用户信息之外，所有代码均开源。</p>
                    <p>如果您对本站感兴趣，可以任意folk本项目，修改并提交更好的代码到本项目中，我会努力处理所有的 Pull Request。</p>
                    <h3 id="e68891e887aae8a18ce8bda6e4b8a2e4ba86efbc8ce68891e8afa5e5a682e4bd95e68f90e4baa4e68891e79a84e4bfa1e681afefbc9f">
                        <a name="e68891e887aae8a18ce8bda6e4b8a2e4ba86efbc8ce68891e8afa5e5a682e4bd95e68f90e4baa4e68891e79a84e4bfa1e681afefbc9f" target="_blank"></a>我自行车丢了，我该如何提交我的信息？</h3>
                    <p>目前本站暂未制作提交页面，您可以将您的信息发送到 E-mail：service@catscarlet.com ，我会人工审核并添加到网站中。</p>
                    <p>请确保您的邮件中包含以下关键信息：</p>
                    <ul>
                        <li>
                            <p>丢失车辆的地区（如 北京市昌平区回龙观地铁站，陕西省西安市未央区）</p>
                        </li>
                        <li>
                            <p>丢失车辆的品牌（如 美利达-勇士，捷安特）</p>
                        </li>
                        <li>
                            <p>丢失车辆的颜色（如 白色）</p>
                        </li>
                        <li>
                            <p>丢失车辆的车型（如 通勤自行车、山地车）</p>
                        </li>
                        <li>
                            <p>报警状态（如 未报警、已报警、已破案）</p>
                        </li>
                        <li>
                            <p>找回状态（如果您丢失的车辆已被找回，也请知会我们）</p>
                        </li>
                        <li>
                            <p>丢失车辆的时间（越精确越好）</p>
                        </li>
                        <li>
                            <p>丢失车辆的照片（识别度越高越好）</p>
                        </li>
                    </ul>
                    <h3>我有他人丢失的自行车的线索，我该如何提交我的信息？</h3>
                    <p>同上。您只需将您了解的信息发送给我即可。</p>
                </div>
            </div>
            <include file="Public/statistics"/>
        </div>
    </body>
</html>
