<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>This is get page.</title>

        <link rel="stylesheet" href="__PUBLIC__/css/test.css">
    </head>

    <body>
        <script src="__PUBLIC__/amazeui/js/jquery.min.js"></script>
        <script src="__PUBLIC__/amazeui/js/amazeui.min.js"></script>

        <script src="__PUBLIC__/js/test.js"></script>

        <div style="padding: 24px 48px;">
            <p>欢迎使用
                <b>get page</b>！</p>
            <br/>版本 V0.0.1</div>
        <div>
            描述
        </div>

        <!--
<img src="/newProject/web/Public/temp/121140.jpg">
           <img src="__PUBLIC__/temp/121141.jpg">
           <img src="__PUBLIC__/temp/121142.jpg">
           <img src="__PUBLIC__/temp/121143.jpg">
       -->
        <div id="imgSlider" style="width:805px;margin:12px auto">
            <div class="container">
                <div class="slider" id="slide">
                    <ul>
                        <li>
                            <img src="__PUBLIC__/temp/1.jpg" alt="photo1"></li>
                        <li>
                            <img src="__PUBLIC__/temp/1.jpg" alt="photo2"></li>
                        <li>
                            <img src="__PUBLIC__/temp/2.jpg" alt="photo2"></li>
                    </ul>
                </div>
            </div>
            <div class="details" id="thumbnail">
                <ul>
                    <li>
                        <img src="__PUBLIC__/temp/1.jpg" alt="photo1" id="1"></li>
                    <li>
                        <img src="__PUBLIC__/temp/2.jpg" alt="photo2" id="2"></li>
                    <li>
                        <img src="__PUBLIC__/temp/3.jpg" alt="photo3" id="3"></li>
                    <li>
                        <img src="__PUBLIC__/temp/4.jpg" alt="photo4" id="4"></li>
                    <li>
                        <img src="__PUBLIC__/temp/5.jpg" alt="photo5" id="5"></li>
                </ul>
            </div>
        </div>
    </body>

</html>
