<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>{$result.area}:{$result.brand}{$result.sub_brand}:{$result.color}:{$result.type}</title>
        <link rel="stylesheet" href="__PUBLIC__/amazeui/css/amazeui.min.css">
        <link rel="stylesheet" href="__PUBLIC__/css/test.css">
    </head>

    <body>
        <script src="__PUBLIC__/amazeui/js/jquery.min.js"></script>
        <script src="__PUBLIC__/amazeui/js/amazeui.min.js"></script>

        <script src="__PUBLIC__/js/test.js"></script>

        <section data-am-widget="accordion" class="am-accordion am-accordion-basic">
            <dl class="am-accordion-item am-active am-disabled">
                <dt class="am-accordion-title">
                    <strong>{$result.id}:{$result.area}:{$result.brand}{$result.sub_brand}:{$result.color}:{$result.type}:
                        <if condition="($result.alerted_police eq 0) ">未报警
                            <elseif condition="($result.alerted_police eq 1)"/>已报警
                        </if>
                        :
                        <if condition="($result.status eq 0) ">未找回
                            <elseif condition="($result.status eq 1)"/>已自己找回
                            <elseif condition="($result.status eq 2)"/>已通过本网站找回
                            <elseif condition="($result.status eq 3)"/>已通过公安找回
                            <elseif condition="($result.status eq 4)"/>已通过其他网站找回
                            <elseif condition="($result.status eq 5)"/>已购回找回
                        </if>
                    </strong>
                </dt>
                <dd class="am-accordion-bd am-collapse am-in">
                    <div class="am-accordion-content">
                        <br>
                        <strong>丢失车辆的地区：</strong>{$result.area}
                        <br>
                        <strong>丢失车辆的品牌：</strong>{$result.brand}{$result.sub_brand}
                        <br>
                        <strong>丢失车辆的颜色：</strong>{$result.color}
                        <br>
                        <strong>丢失车辆的车型：</strong>{$result.type}
                        <br>
                        <strong>报警状态：</strong>
                        <if condition="($result.alerted_police eq 0) ">未报警
                            <elseif condition="($result.alerted_police eq 1)"/>已报警
                        </if>
                        <br>
                        <strong>找回状态：</strong>
                        <if condition="($result.status eq 0) ">未找回
                            <elseif condition="($result.status eq 1)"/>已自己找回
                            <elseif condition="($result.status eq 2)"/>已通过本网站找回
                            <elseif condition="($result.status eq 3)"/>已通过公安找回
                            <elseif condition="($result.status eq 4)"/>已通过其他网站找回
                            <elseif condition="($result.status eq 5)"/>已购回找回
                        </if>
                        <br>
                        <strong>其他信息：</strong>{$result.info}
                        <br>
                        <br>
                        <strong>车辆丢失时间：</strong>{$result.lost_time}
                        <br>
                        <strong>条目创建时间：</strong>{$result.create_time}
                        <br>
                        <strong>条目更新时间：</strong>{$result.update_time}
                    </div>
                </dd>
            </dl>
        </section>
        <strong>丢失车辆的照片：</strong>
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-imgbordered" data-am-gallery="{  }">
            <volist name="imgUrlList" id="imgUrlList">
                <li>
                    <div class="am-gallery-item">
                        <a href="{$imgUrlList}" class="" target="_blank">
                            <img src="{$imgUrlList}" alt="{$imgUrlList}"/>
                        </a>
                    </div>
                </li>
            </volist>
        </ul>
        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol)
                ? " https://"
                : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1259042697'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/stat.php%3Fid%3D1259042697' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </body>

</html>
