<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My bike is 404 not found.</title>


    <link rel="stylesheet" href="__PUBLIC__/amazeui/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/test.css">
    <script src="__PUBLIC__/amazeui/js/jquery.min.js"></script>
    <script src="__PUBLIC__/amazeui/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/test.js"></script>
</head>

<body>

    <h1>My bike is 404 not found.</h1>
    <h5>这是一个什么网站？这个网站有什么用？为什么要做这个网站？</h5>
    <p>此网站是用于收集并统计自行车丢失情况的网站。
        <br>此网站记录了各失主丢失车辆的信息，并对外提供API接口用于查询和展示。
        <br>这个网站的想法源于 <strong>NotFound Project</strong>。目前本站仍处于开发阶段。
        <br>关于本站的更多信息，请点击：<a href="__MODULE__/about">关于本站</a></p>

    <section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion="{  }">
        <dl class="am-accordion-item am-disabled">
            <dt class="am-accordion-title">
                <strong>序号:地区:品牌:颜色:车型:报警状态:找回状态</strong>
                </dt>
        </dl>
        <volist name="result" id="result">
            <dl class="am-accordion-item">
                <dt class="am-accordion-title">
                        {$result.id}:{$result.area}:{$result.brand}{$result.sub_brand}:{$result.color}:{$result.type}:
                        <if condition="($result.alerted_police eq 0) ">未报警
                            <elseif condition="($result.alerted_police eq 1)"/>已报警
                        </if>
                        :
                        <if condition="($result.status eq 0) ">未找回
                            <elseif condition="($result.status eq 1)"/>已自己找回
                            <elseif condition="($result.status eq 2)"/>已通过本网站找回
                            <elseif condition="($result.status eq 3)"/>已通过公安找回
                            <elseif condition="($result.status eq 4)"/>已通过其他网站找回
                            <elseif condition="($result.status eq 5)"/>已购回找回
                        </if>
                    </dt>
                <dd class="am-accordion-bd am-collapse">
                    <div class="am-accordion-content">
                        <strong>描述：</strong>{$result.info}
                        <br> <strong>车辆丢失时间：</strong>{$result.lost_time}
                        <br> <strong>条目创建时间：</strong>{$result.create_time}
                        <br> <strong>条目更新时间：</strong>{$result.update_time}
                        <br>
                        <br>
                        <a href="__MODULE__/index/get?id={$result.id}" target="_blank">【点击查看图文详情】</a>
                    </div>

                </dd>

            </dl>

        </volist>
    </section>

</body>

</html>
