<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>{$result.area}:{$result.brand}{$result.sub_brand}:{$result.color}:{$result.type}</title>

        <link type="text/css" rel="stylesheet" href="__PUBLIC__/materialize/css/materialize.min.css" media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

        <script src="__PUBLIC__/js/jquery-1.12.3.min.js"></script>

    </head>

    <body>
        <script type="text/javascript" src="__PUBLIC__/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/show.js"></script>

        <div>
            <div class="col s12 m7" style="width:580px;margin:0 auto;">
                <div class="card">
                    <h5 class="left-align">404，找不回来您要访问的页面……</h5>
                    <h5 class="right-align">……就如同找不回来丢失的自行车一般</h5>
                    <div class="card-image">
                        <div class="slider">
                            <ul class="slides">
                                <volist name="imgUrlList" id="imgUrlList">
                                    <li>
                                        <img class="responsive-img" src="{$imgUrlList}">
                                        <span class="card-title"></span>
                                    </li>
                                </volist>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <strong>丢失车辆的地区：</strong>{$result.area}
                        <br>
                        <strong>丢失车辆的品牌：</strong>{$result.brand}{$result.sub_brand}
                        <br>
                        <strong>丢失车辆的颜色：</strong>{$result.color}
                        <br>
                        <strong>丢失车辆的车型：</strong>{$result.type}
                        <br>
                        <strong>报警状态：</strong>
                        <if condition="($result.alerted_police eq 0) ">未报警
                            <elseif condition="($result.alerted_police eq 1)"/>已报警
                        </if>
                        <br>
                        <strong>找回状态：</strong>
                        <if condition="($result.status eq 0) ">未找回
                            <elseif condition="($result.status eq 1)"/>已自己找回
                            <elseif condition="($result.status eq 2)"/>已通过本网站找回
                            <elseif condition="($result.status eq 3)"/>已通过公安找回
                            <elseif condition="($result.status eq 4)"/>已通过其他网站找回
                            <elseif condition="($result.status eq 5)"/>已购回找回
                        </if>
                        <br>
                        <strong>其他信息：</strong>
                        <blockquote>
                            {$result.info}
                        </blockquote>
                        <br>
                        <strong>车辆丢失时间：</strong>{$result.lost_time}
                    </div>
                    <div class="card-action">
                        <a href="__MODULE__/index/getbyid?id={$result.id}" class="pink-text text-pink-2" target="_blank">【您对此辆车有印象？】</a>
                        <div class="right">
                            <a href="__ROOT__" class="blue-text text-darken-4" target="_blank">#bike404公益#</a>
                        </div>
                    </div>
                </div>
            </div>
            <include file="Public/statistics"/>
        </div>

    </body>

</html>
