<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="__APP__" class="brand-logo">My bike 404 not found__{$Think.config.BIKE404_VERSION}</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="__MODULE__/report" target="_blank">报告丢失或线索</a>
                </li>
                <li>
                    <a href="__MODULE__/tools/basic" target="_blank">API</a>
                </li>
                <li>
                    <a href="__MODULE__/about" target="_blank">关于本站</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="__MODULE__/report" target="_blank">报告丢失或线索</a>
                </li>
                <li>
                    <a href="__MODULE__/tools/basic" target="_blank">API</a>
                </li>
                <li>
                    <a href="__MODULE__/about" target="_blank">关于本站</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $(".button-collapse").sideNav();
    });
</script>
