<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="__ROOT__" class="brand-logo">My bike 404 not found__v0.0.4-Pre_Alpha</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="__MODULE__/tools/basic" target="_blank">API</a>
                </li>
                <li>
                    <a href="__MODULE__/about" target="_blank">关于本站</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
