<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="__PUBLIC__/sitemap.xsl"?>
<!-- generated-on="{$generated_on}" -->

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
		http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

    <volist name="urlmap" id="urlmap">

        <url>
            <loc>{$urlmap.loc}</loc>
            <lastmod>{$urlmap.lastmod}</lastmod>
            <changefreq>{$urlmap.changefreq}</changefreq>
            <priority>{$urlmap.priority}</priority>
        </url>

    </volist>

</urlset>
